CMakeFiles
CMakeCache.txt
CMake
Makefile
cmake_install.cmake

editor.sh
editor.bat
link.sh
link.bat
launch.sh
debug.sh
launch.bat
cmake.sh
cmakebat.bat

bin/CoreData
bin/Data
bin/Resources/Screenshots
bin/iogram
bin/iogram.exe
bin/tool
bin/Urho3D.dll
bin/Autoload

*.project
*.workspace
*.sublime-project
*.sublime-workspace
.codelite
compile_commands.json
